@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #{$color-gray-900};
  color: #{$color-white};
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: #{$font-type-1-name}, #{$font-type-1-fallback};
  font-size: 1.6rem;
  font-weight: #{$font-type-1-weight-normal};
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
